@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: 'Overpass', sans-serif;
  background-color: #212529;
  overflow-x: hidden;
}

header {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;

}

.fixed-header {
  position: fixed;
  /* Fixed position */
  top: 0;
  /* Stick to the top */
  left: 0;
  right: 0;
  /* Full width */
  height: 70px;
  background-color: rgba(0, 0, 0, 0.795);
  /* Optional: background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: dropDown 0.5s ease-in-out;
}


@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.hamburger {
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;

}

.logo {
  font-family: "Averia Serif Libre", serif;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  padding: 10px 20px;
  margin-left: 100px;
}

.box {
  position: absolute;
  background-color: #e50914;
  width: 30px;
  height: 30px;
  top: 13px;
  left: -15px;

  border-radius: 4px;

}

.box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(34, 34, 34, 0.856);
  transform: translateY(-50%);
}

.box::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 100%;
  height: 2px;
  background-color: rgba(34, 34, 34, 0.856);
  transform: rotate(90deg);
}

nav ul li {
  list-style: none;
  padding: 10px 20px;
  color: white;
  font-family: sans-serif;
  font-size: 1.125em;

}

nav ul a {
  color: white;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;

}

.nav-bar {
  margin-left: 30px;
}

.nav-container {
  display: flex;
  width: 100%;
}

.nav-btn {
  position: relative;
}

.myLink.active {
  color: #E90101;
}

.watchlist-count {
  position: absolute;
  background-color: #E50914;
  ;
  width: 20px;
  height: 20px;
  right: 5px;
  top: -2px;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;

}

.right-section {
  margin-left: 20%;
}

.right-section li a {
  text-decoration: none;
  color: white;
  ;

}

.type-selection {
  position: relative;
  /* z-index: 1000; */
}

.type-selection svg {
  height: 1em;
}

.input-dropdown {
  position: absolute;
  top: 30px;
 
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  left: -50px;
  top: 50px;
  width: 270px;
}



.input-dropdown.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: block;
}

.drop-down:hover {
  cursor: pointer;
}


.dropdown-menu {
  position: fixed;
  width: 250px;
  background-color: #212529;
  list-style: none;
  padding-top: 10px;
  overflow-y: scroll;
  height: 300px;
  border-radius: 4px;
}

.type-selection:hover {
  cursor: pointer;

}

.dropdown-menu li {
  display: flex;
  min-height: 48px;
  padding-left: 10px;
  margin: 11px 0 10px;
  width: 100%;
  align-items: center;

}

.dropdown-menu li:hover {
  background-color: #2b3035;
  transition: 0.1s ease-in-out;
}

.dropdown-menu a {
  text-decoration: none;
  color: #d8d5d5;
  font-size: 1.1rem;

}



.bi-person-fill::before {
  content: " \F4DA";
  height: 20px;
  width: 20px;
}

.search-input {
  width: 100%;
  padding: 20px 10px;
  background-color: transparent;
  border: 1px solid #222;
  font-size: 1.2rem;
  color: white;
  font-family: inherit;
  margin: 20px 0;
  outline-color: #f7f0f015;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -3px;
  background-color: #212529;

}

@media only screen and (max-width:1200px) {
  header {
    z-index: 1001;
    position: absolute;
    top: 30px;
    left: 5%;
    right: 10px;
  }

  nav {
    display: flex;
    align-items: center;

  }

  .nav-container.active {
    top: 71px;

  }

  .nav-container {
    z-index: 10;
    position: absolute;
    top: -10000px;
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
    background-color: #2b3035;
    align-items: flex-start;
    transition: 0.1s ease-in;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }

  .logo {
    margin-left: 30px;
    font-family: "Averia Serif Libre", serif;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    position: relative;
  }

  .input-dropdown {
    position: absolute;
    left: 0px;
    top: 50px;
    width: 270px;
  }


  .drop-down {
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }

  .hamburger svg {
    height: 50px;
    color: white;
  }

  .box {
    position: absolute;
    background-color: #e50914;
    width: 30px;
    height: 30px;
    top: 13px;
    left: -15px;
    border-radius: 4px;

  }

  .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.856);
    transform: translateY(-50%);
  }

  .box::after {
    content: "";
    position: absolute;
    top: 15px;
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.856);
    transform: rotate(90deg);
  }

  nav ul li {
    list-style: none;
    padding: 10px 20px;
    color: white;
    font-family: sans-serif;
    font-size: 1.125em;

  }

  nav ul a {
    color: white;
    text-decoration: none;
    font-family: 'Overpass', sans-serif;
  }

  .right-section {
    padding-left: 0;
    margin: 0;

  }

  .right-section ul {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .right-section li a {
    text-decoration: none;
    color: white;
  }


 

  .grab-deal {
    font-size: 30px;
  }
}