.more-movies {
  margin-top: 50px;
  padding: 80px;
  padding-top: 30px;

}

.grab-deal {
  text-align: center;
  color: white;
  font-size: 3.0rem;
  margin-top: 30px;

}

.grid-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 100px;
  margin-top: 20px;
  color: #727f92;
  font-family: inherit;
  font-size: 1.2rem;
}

.mv-container {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.image-container {
  position: relative;
  height: 100%;
  transition: transform 0.5s ease;
}

.mv-description {

  display: flex;
  color: white;
  margin-top: 10px;
  justify-content: space-around;
}

.left-span {
  color: white;
  font-size: 1rem;
  width: 163px;
}

.left-span p {
  color: red;
}

.duration {
  display: flex;

}

.movie-title {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 10px;
}


.image-fix {
  width: 100%;
  height: 100%;
  filter: brightness(90%);

}

.js-watch-btn {
  position: absolute;
  left: 10px;
  font-size: 2rem;
  color: white;
  opacity: 0.3;

}

.js-watch-btn:hover {
  opacity: 0.8
}

.js-watch-btn.active {
  color: #E50914;
  opacity: 1;
}

.image-container:hover {
  transform: scale(1.1);

}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.title-list-options {
  margin-top: 50px;
  color: #d8d5d5;
}

svg {
  height: 1em;
}

.flex-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.filter-div {
  gap: 0;
}

.type-selection {
  position: relative;
  padding: 5px 10px;
  /* z-index: 1000; */
}


.drop-down {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.genre-drop-down {
  left: 40px;
}

.drop-down.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: block;
}

.drop-down:hover {
  cursor: pointer;
}


.dropdown-menu {
  position: fixed;
  width: 250px;
  background-color: #212529;
  list-style: none;
  padding-top: 10px;
  height: 300px;
  border-radius: 4px;


}

.type-selection:hover {
  cursor: pointer;

}

.dropdown-menu li {
  display: flex;
  height: 48px;
  padding-left: 10px;
  margin: 11px 0 10px;
  width: 100%;
  align-items: center;

}

.dropdown-menu li:hover {
  background-color: #2b3035;
  transition: 0.1s ease-in-out;
}

.dropdown-menu a {
  text-decoration: none;
  color: #d8d5d5;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  margin-top: 20px;

}

.input-dropdown {
  position: absolute;
  left: -40px;
  top: 50px;
  width: 25vw;

}

.rating-selector {
  position: fixed;
  width: 400px;
  background-color: #212529;
  list-style: none;
  padding-top: 10px;
  height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.slider-container {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.slider-container span {
  font-size: 12px;
}

#slider,
#slider1 {
  -webkit-appearance: none;
  width: 70%;
  background-color: #212529;
}

#slider::-webkit-slider-thumb,
#slider1::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Remove default styling for WebKit browsers */
  appearance: none;
  width: 20px;
  height: 20px;
  background: #43484d;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  /* Align properly with track */
  top: -8px;
  /* Center thumb on track */

}

#slider::-webkit-slider-runnable-track,
#slider1::-webkit-slider-runnable-track {

  width: 100%;
  height: 2px;
  background: #43484d;

}

#display {
  margin-left: 10px;
}

.search-input {
  width: 100%;
  padding: 20px 10px;
  background-color: transparent;
  border: 1px solid #222;
  font-size: 1.2rem;
  color: white;
  font-family: inherit;
  margin: 20px 0;
  outline-color: #f7f0f015;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -3px;
  background-color: #212529;

}

.Decade-title {
  font-size: 1.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000025;
  /* Semi-transparent black */
  display: none;
  /* Hidden by default */
  z-index: 999;
  /* On top of everything except the dropdown */
}

.overlay.active {
  display: block;
}


.filter-option {
  color: #727f92;

}

.filter-bar {
  display: flex;
  align-items: center;
  color: #d8d5d5;
  margin-top: 70px;
}

.reset-btn {
  font-size: 1.2rem;
  color: #727f92;
  font-weight: 600;
  margin-inline-start: auto;
}

.reset-btn a {
  color: white;
  text-decoration: none;
}

.reset {
  height: 1.5rem;
  color: #727f92;
}

.flex-align {
  display: flex;
  align-items: center;
}

.filter-container {
  display: flex;
  gap: 16px;
  margin-right: 20px;
}

.filter-option.active {
  color: white;
  transition: 0.5s ease;
}

.filter-option.active:hover {
  color: white;
}

.filter-option:hover {
  color: #d8d5d5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media only screen and (max-width:1440px) {
  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;
  }

  .filter-option {
    font-size: 20px;
  }

}

@media only screen and (max-width:1200px) {
  main {
    padding: 90px 20px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .more-movies {
    margin: 0;
    padding: 0;
  }

}

@media only screen and (max-width:1024px) {


  .more-movies {
    margin: 0;
    padding: 0;
  }


  .filter-container {
    margin-left: 10px;
  }

  .filter-div {
    display: none;
  }

  .sort-div {
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
  }

  .js-sorted-by {
    word-wrap: nowrap;
    font-size: 14px;
  }

  .rating-selector {
    width: 300px;
    left: -110px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .mv-description {
    font-size: 12px;
  }


  .reset-btn {
    font-size: 12px;
  }

  .left-span {
    color: white;
    font-size: 0.875rem;
    width: 100px;
  }

  .movie-title {
    font-size: 14px;
  }

}

@media only screen and (max-width:768px) {


  .more-movies {
    margin: 0;
    padding: 0;
  }


  .filter-container {
    margin-left: 10px;
  }

  .sort-div {
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
  }

  .js-sorted-by {
    word-wrap: nowrap;
    font-size: 14px;
  }

  .rating-selector {
    width: 300px;
    left: -110px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .mv-description {
    font-size: 12px;
  }


  .reset-btn {
    font-size: 12px;
  }

  .left-span {
    color: white;
    font-size: 0.875rem;
    width: 100px;
  }

  .movie-title {
    font-size: 14px;
  }

}
@media only screen and (max-width:500px) {
  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }
}

@media only screen and (max-width:425px) {
  .more-movies {
    margin: 0;
    padding: 0;
  }

  .filter-container {
    margin-left: 10px;
  }

  .sort-div {
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
  }

  .js-sorted-by {
    word-wrap: nowrap;
    font-size: 14px;
  }

  .rating-selector {
    width: 300px;
    left: -110px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .mv-description {
    font-size: 12px;
  }


  .reset-btn {
    font-size: 12px;
  }

  .left-span {
    color: white;
    font-size: 0.875rem;
    width: 100px;
  }

  .movie-title {
    font-size: 14px;
  }

}

@media only screen and (max-width:375px) {
  main {
    padding: 90px 30px;
  }
  .more-movies {
    margin: 0;
    padding: 0;
  }

  .filter-container {
    margin-left: 10px;
  }

  .sort-div {
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
  }

  .js-sorted-by {
    word-wrap: nowrap;
    font-size: 14px;
  }

  .rating-selector {
    width: 300px;
    left: -110px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .mv-description {
    font-size: 12px;
  }


  .reset-btn {
    font-size: 12px;
  }

  .left-span {
    color: white;
    font-size: 0.875rem;
    width: 100px;
  }

  .movie-title {
    font-size: 14px;
  }

}

@media only screen and (max-width:320px) {
  main {
    padding: 90px 20px;
  }

  .more-movies {
    margin: 0;
    padding: 0;
  }


  .filter-container {
    margin-left: 10px;
  }

  .sort-div {
    font-size: 16px;
    justify-content: center;
    margin-left: 10px;
    overflow: hidden;
  }

  .js-sorted-by {
    word-wrap: nowrap;
    font-size: 14px;
  }

  .type-selection {
    font-size: 14px;
  }

  .rating-selector {
    width: 300px;
    left: -110px;
  }

  .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    margin-top: 20px;
    color: #727f92;
    font-family: inherit;

  }

  .mv-description {
    font-size: 12px;
  }

  .reset-btn {
    font-size: 12px;
  }

  .left-span {
    color: white;
    font-size: 0.875rem;
    width: 100px;
  }

  .movie-title {
    font-size: 14px;
  }

}